<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>update</h1>
    <form method="post" action="/update" >
    	<label for="id">id</label>
				<input type="id" name="id" placeholder="enter your id " id="id" required>
				<label for="firstname">firstname</label>
				<input type="firstname" name="firstname" placeholder="enter your firstname " id="firstname" required>
                <label for="lastname">lastname</label>
				<input type="lastname" name="lastname" placeholder="lastname" id="lastname" required>
                <label for="email ">email id</label>
                <input type="email" name="email" placeholder="email" id="email" required>
                <label for="phone">phone no.</label>
                <input type="phone" name="phone" placeholder="phone" id="phone" required>
                <label for="password">password</label>
                <input type="password" name="password" placeholder="password" id="password" required>
				<input type="submit">
			</form>
</body>
</html>